$g-blue: hsl(237, 18%, 59%);
$s-red: hsl(345, 95%, 68%);

$white: hsl(0, 0%, 100%);
$s-red: hsl(345, 95%, 68%);
$ds-blue: hsl(236, 21%, 26%);
$vd-blue: hsl(235, 16%, 14%);
$dv-m-blue: hsl(234, 17%, 12%);